body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HERO */
.hero {
    height: 100vh;
    background: #111;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background: gold;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

/* STYLES */
.styles {
    padding: 40px;
    text-align: center;
    border: 1px solid;
    margin-top: 1rem;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 300px;
    
}

.card img {
    width: 100%;
}

/* CONTACT */
.contact {
    text-align: center;
    padding: 40px;
}